div.gallery {
	margin:10px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
	overflow:hidden;
	display:flex;
	flex-wrap:wrap;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100%;
}

div.desc {
    padding: 20px;
    text-align: center;
}
 #protfolio {
	margin:100px 10px 10px 10px;
	padding:0;
}
 .header {
	 height:200px;
	background-color:black;
}
.header h1{
	font-size:50px;
	font-family: Cabin;
	font-weight:bold;
	padding:140px;
	color:white;
	text-align:center;
}