*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	 font-family:'Roboto',sans-serif;
	 
}

 
  nav ul {
	list-style-type:none;
	border-top:6px solid #e6af2e;
	background-color:#191716;
	border-bottom:6px solid #e6af2e;*/
	
}


 nav ul li a {
	text-transform:uppercase;
	   text-decoration:none;
	   display:block;
	   text-align:center; 
	   font-size:20px;
	   padding:5px 25px;
	   color:#e6af2e;
   
	   } 
 /*nav ul li a:hover{
	background-color:#191716;
	 color:#e6af2e;
}*/
nav ul li a:link {     text-decoration: none; } 
 
nav ul li a:visited {     text-decoration: none; } 
 
nav ul li a:hover {    
  color:#e0e2db;
 text-decoration: none; }
nav ul li a:active {
               text-decoration:none;
}			   
 
  a:active {     text-decoration:none; }

 a:link {     text-decoration: none; } 
 
 a:visited {     text-decoration: none; } 
 
a:hover {    

 text-decoration: none; } 
 
nav ul li a:active {     text-decoration:none; }

 .logo{
	  font-family:Charlemagne Std;
	 display:flex;
	 text-transform:uppercase;
	 justify-content:space-between;
      font-size:40px;
	  background:#e6af2e;
	  color:#191716;
	  
}   
/*.logo:hover{
	color:#e6af2e;
}*/
 @media screen and (min-width:576px){
	 nav ul{
		 display:flex;
		 flex-wrap:wrap;
		 align-items:baseline;
		 justify-content:space-between;
		 
	 }
  nav ul li{
	   flex:1 0 auto;	
  }
  .logo{
	   display:block;
	   text-align:center;
	 }
/*.logo .fa {
     display:none;
	}*/	 
 }	 
	
	#banner {
		
			
padding:0px 0 0px 0;
		min-height:100vh;
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url(../images/apple-desk-digital-7358.jpg);
background-attachment:fixed;
background-position:center;
background-size:cover;
background-repeat:no-repeat; 
		display:flex;
		align-items:center;
		justify-content:center;
		
		}
		.banner-text{
			font-family:Kozuka Mincho Pro H;
			 font-size:50px;
			 text-transform:uppercase;
			 justify-content:space-between;
		      color:#e0e2db;
		
		}
		.banner-title{
			margin-top:150px;
			vertical-align:middle;
		}
		.banner-underline{
		width:250px;
		border:2px solid #191716;
		margin:0px 20px 15px 125px;
		
		}
		.banner-button button {
			 
			font-size:30px;
			padding:15px;
	  		text-transform:uppercase;
			margin:0 10px;
			background:transparent;
			color:#e6af2e;
		  border:2px solid #e6af2e;
		}
		.banner-button a{
			color:white;
		}
		
		.banner-button button:hover{  
		  color:black;
		 background:#e6af2e;
		}
		
		.btn-circle {
			
			
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin: 150px 0px 10px 150px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}


		.banner-button a:link {     text-decoration: none; } 
 
.banner-button a:visited {     text-decoration: none; } 
 
.banner-button a:hover {     text-decoration: none; } 
 
.banner-button a:active {     text-decoration:none; }

		.content-section {
  padding-top: 250px;
  padding-bottom: 150px;
}
#about {
	min-height:100vh;
	background-color:#191716;
	color:white;
}
		.title {
			margin:100px 0;
		}
		.title-text {
			text-align:center;
			font-size:40px;
			color:blue;
			font-style:italic;
			text-transform:uppercase;
		}
		#services {
			min-height:100vh;
			background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url(../images/apple-desk-digital-7358.jpg);
background-attachment:fixed;
background-position:center;
background-size:cover;
background-repeat:no-repeat; 
padding:10px 0 0px 0;

				}
		.services-container {
			max-width:80vw;
			margin:0 auto;
			color:#e0e2db;
		}
		.service-item {
			overflow :hidden;
			position:relative;
			padding:60px;
			
		}
		.service-item .fa {
			font-size:60px;
			margin-bottom:30px;
			color:#e6af2e;
		}
		
		
		.service-item-black{
			 background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));	
	}
		
		 .service-item-white{
			 background:linear-gradient(rgba(205,208,205,0.6),rgba(206,208,206,0.6 ));	
	}
		.front-text {
			text-align:center;
			transition:transform 2s;
		}
		.back-text {
			text-align:center;
			position:absolute;
			bottom:-20em;
			width:75%;
			margin:0 auto;
			height:80%;
			transition:bottom 2s;
			padding:30px 0px;
		}
		.back-text h1 {
			margin-bottom:20px;
		}
		.back-text button {
			margin-top:20px;
			padding:10px 20px;
			background:transparent;
			border:2px solid #e6af2e;
			font-size:20px;
			color:#e6af2e;
		}
		.back-text button:hover{
			background-color:#e6af2e;
			color:#191716;
		}
		.service-item-white button{
			background:#191716;
			color:#191716;
		}
		.service-item-white button:hover{
			background:#191716;
			background-color:#191716;
			color:#e6af2e;
		}
		.service-item:hover .front-text {
			 transform:translatey(-260px);
		}
		.service-item:hover .back-text {
			 bottom:0;
		}
@media screen and (min-width:776px){
			.services-container{
				display:grid;
				grid-template-columns:repeat(3,1fr);
			}
			.services-container .service-item:nth-of-type(1){
             order:1;
			}	
			.services-container .service-item:nth-of-type(2){
             order:2;
			}
			.services-container .service-item:nth-of-type(3){
             order:3;			}
				
		}/*
		#filler-contact{
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url(../images/background-banner.jpg);
background-attachment:fixed;
background-position:center;
background-size:cover;
background-repeat:no-repeat; 
	display:flex;
		align-items:baseline;
		justify-content:space-between;
		flex-wrap:wrap;
		padding:150px;
       
		 
  }
  
  .filler-text h1{ 
  font-size:30px;
  margin:20px 50px 50px 400px;
  text-transform:uppercase;
  color:#e0e2db;
  }
 
  .filler-button button{  
  
  margin:10px 100px 20px 450px;
    font-size:30px;
	text-transform:uppercase;
	color:#e6af2e;
	border:2px solid #e6af2e;
	padding:8px 10px;
	background:transparent;
  } 
  .filler-button button:hover {
	  color:#e6af2e;
	  background-color:#191716;
  }
  .navbar-text {
	  font-weight:bold;
  }*/
  
#mycarousel .item{
	  height:350px;
  }
  .carousel-inner #slide1 {
	  background-color:blue;
  }
  .carousel-inner #slide2{
	  background-color:red;
  }
  .carousel-inner #slide3{
  background-color:green;
  }
  #slide1 {
	  width:150px;
	  height:0px;
	  background:url(../images/background-banner.jpg);
	  background-repeat:no-repeat;
	  background-position:center;
	  background-size:cover;
	  margin-left:580px;
	  padding:10px 0 0 50px; 
  }
  #slide2{
	  background:url(../images/4-5.jpg);
	  /*background-repeat:no-repeat;*/
	  background-position:center;
	  background-size:cover;
	  margin:0px;
	  padding:0px;
	 
  }#slide3 {
	  background:url(../images/birthdbox-264771.jpg);
	  background-repeat:no-repeat;
	  background-position:center;
	  background-size:cover;
	  margin-top:0px;
	  padding:50px;
	 
  }
   
  