body {
	 margin:0;
	 padding:0;
background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
url(../images/adolescent-bag-beautiful-919436.jpg);	 
    background-size:cover;
	 background-attachment:fixed;
	 background-position:fixed;
	 font-family:sans-serif;
}
.loginbox {
	 position:absolute;
	 top: 720%;
	 left:50%;
	 transform:translate(-50%,-50%);
	 width:350px;
	 height:490px;
	 padding:80px 50px;
	 box-sizing:border-box;
	 background:rgba(0,0,0,0.7);
}
.img-circle {
	width:100px;
	height:100px;
	border-radius:50%;
	overflow:hidden;
	position:absolute;
	top:calc(-100px/2);
	left:calc(50% - 50px);
}
h2 {
	 margin:0;
	 padding:0px 0px 10px;
	 color:#efed40;
	 text-transform:uppercase;
	 text-align:center;
	 font-size:20px;
} 
h3 {
	 margin:0;
	 padding:10px 0px 0px;
	 color:#efed40;
	 text-transform:uppercase;
	 font-size:15px;

}
h1 {
	margin:0;
	padding:10px 0px 0px;
	color:#efed40;
	text-transform:uppercase;
	font-size:30px;
	font-style:italic;
	font-family:sans-serif;
}
.loginbox p{
	margin:0;
	padding:0;
	font-weight:bold;
	color:#fff;
}
.loginbox input
{
	 width:250px;
	 margin-bottom:10px;

}
.loginbox input[type="text"],
.loginbox input[type="password"]
{
    border-bottom:1.5px solid #fff;
	border-style:inside;
background:transparent;
height:40px;
color:#fff;
font-size:16px;
}	
::placeholder
{
	font-size:15px;
	color:rgba(255,255,255,5);
}
.loginbox input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
	background:#ff267e;
border-radius:60px;
cursor:pointer;
	} 
	.loginbox input[type="submit"]:hover
	{
		background:#efed40;
		color:#262626;
	}
	.loginbox a{
		color:blue;
text-align:center;
text-decoration:none;
padding-bottom:10px;
padding-left:40px;
font-size:14px;
font-weight:bold;
	}	
	
.loginbox a:visited	 {
	color:blue; 
	}

