body {
	 margin:0;
	 padding:0;
	 max-height:10px;
	 width:10px;
background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
url(../images/adolescent-bag-beautiful-919436.jpg);	 
    background-size:cover;
	 background-attachment:fixed;
	 background-position:fixed;
	 font-family:sans-serif;
}
.loginbox {
	 position:absolute;
	 top: 320px;
	 left:650px;
	 transform:translate(-50%,-50%);
	 width:350px;
	 height:420px;
	 padding:80px 40px;
	 box-sizing:border-box;
	 background:rgba(0,0,0,0.7);
}
.img-circle {
	width:100px;
	height:100px;
	border-radius:50%;
	overflow:hidden;
	position:absolute;
	top:calc(-100px/2);
	left:calc(50% - 50px);
}
h2 {
	 margin:0;
	 padding:0 0 20px;
	 color:#efed40;
	 text-transform:uppercase;
	 text-align:center;
	 font-size:20px;
} 
h3 {
	 margin:0;
	 padding:30px 20px 0px;
	 color:#efed40;
	 text-transform:uppercase;
	 font-size:15px;
}
.loginbox p{
	margin:0;
	padding:0;
	font-weight:bold;
	color:#fff;
}
.loginbox input
{
	 width:200px;
	 margin-bottom:20px;

}
.loginbox input[type="text"],
.loginbox input[type="password"]
{
	border:none;
    border-bottom:0.5px solid #fff;
background:transparent;
outline:none;
height:40px;
color:#fff;
font-size:16px;
}	
::placeholder
{
	font-size:15px;
	color:rgba(255,255,255,5);
}
.loginbox input[type="submit"]
{
	text-align:center;
	border:none;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
	background:#ff267e;
border-radius:100px;
cursor:pointer;
	} 
	.loginbox input[type="submit"]:hover
	{
		background:#efed40;
		color:#262626;
	}
	.loginbox a{
		color:blue;
text-align:center;
text-decoration:none;
padding-right:0px;
padding-left:150px;
font-size:14px;
font-weight:bold;
	}	
		
	.loginbox a:link	 {
	text-decoration:none;
	color:#e6af2e; 
	}
	.loginbox a:visited	 {
	text-decoration:none;
	color:blue; 
	}
 p  {
text-align:center;
text-decoration:none;
padding-right:0px;
padding-left:150px;
font-size:14px;
font-weight:bold;
	}	